<div>
    <h3>Titulo</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie, purus quis pharetra ultrices, lectus enim laoreet nulla, ac convallis nulla velit vitae risus. Curabitur rutrum quam in libero ullamcorper sodales. Maecenas dapibus vitae ante egestas eleifend. Mauris consectetur pulvinar tortor, non vestibulum eros dignissim et. Fusce diam tortor, bibendum eget dignissim tincidunt, vestibulum quis risus. Cras congue, lectus quis tempus maximus, mauris nunc gravida dolor, vitae pretium ex eros ac lacus. Fusce vehicula pretium ipsum, ac condimentum ipsum molestie quis. Donec egestas aliquam ullamcorper.

        In libero justo, tristique ac diam sed, auctor dignissim neque. Nam consectetur semper tellus sed semper. Nulla euismod sapien vel ex varius, ac varius eros aliquam. Morbi lacus est, commodo nec libero vel, pellentesque placerat justo. Quisque dui urna, lacinia vel rutrum eget, pellentesque in urna. Fusce semper dignissim ipsum, sed dictum sapien imperdiet ac. Sed lobortis, mi sit amet congue facilisis, nisl metus finibus lorem, ut congue justo tortor ac ipsum. In pulvinar pharetra iaculis. Praesent imperdiet dui nec lectus euismod finibus. Ut varius risus sit amet erat fermentum, quis hendrerit nulla euismod.</p>

    <div class="div-btns">
        <button class="btn-ex">Excluir</button>
        <button class="btn-ed">Editar</button>
    </div>
</div>
